.img-upload-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
    margin-right: 50px;
}

.img-upload-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.img-upload-wrapper:hover .profile-pic {
    opacity: 0.25;
}

.img-upload-wrapper .profile-pic {
    width: auto;
    height: 100%;
    max-width: none;
    transition: all 0.3s ease;
}

.img-upload-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 150px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
    line-height: 200px;
}

.img-upload-wrapper.office-logo-wrapper .profile-pic:after{
    content: "\f1c5"
}

.img-upload-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.img-upload-wrapper .upload-button .fa-upload {
    position: absolute;
    font-size: 150px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
    line-height: 200px;
    width: 200px;
}

.img-upload-wrapper .upload-button:hover .fa-upload {
    opacity: 0.9;
}

.file-upload {
    display: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
    clear: both;
}

.info-wrapper {
    min-width: 600px;
}

.info-wrapper label {
    font-weight: bold;
}

.info-wrapper .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.info-wrapper .form-group>div {
    width: 50%;
    display: flex;
    padding-right: 20px;
}

.info-wrapper .form-group input {
    border: none;
    background-color: transparent;
    padding: 12px 10px;
    border-bottom: 2px solid #c4c4c4;
    width: 100%;
}

.info-wrapper .form-group input:focus,
.info-wrapper .form-group input:active {
    outline: none;
}

.info-wrapper .name input {
    text-transform: capitalize;
}

.info-wrapper .form-group span {
    font-size: 0.75em;
}

form.update-office-profile-form {
    margin-top: 50px;
}

form.update-profile-form button,
form.update-office-profile-form button {
    margin: 0px auto;
    margin-left: 250px;
}

form.update-profile-form button:disabled {
    background-color: #ddd;
}


form.update-profile-form textarea {
    min-height: 100px;
    height: 100px;
}