@import url('/wp-admin/css/common.css');
@import url('/wp-admin/css/forms.css');
@import url('/wp-admin/css/list-tables.css');
@import url('./erp-modal.css');

.elementor-shortcode a {
    color: #0073aa;
}

.elementor-shortcode ul.erp-list,
.elementor-shortcode select,
.elementor-shortcode input[type="text"] {
    width: auto;
}

.elementor-shortcode .erp-email-campaign div[id^="editor-step-"] input[type="text"] {
    width: 100%;
}

.elementor-shortcode h2.wp-erp-shortcode-title {
    color: #444444;
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
    font-weight: normal;
    display: flex;
}

.elementor-shortcode h2.wp-erp-shortcode-title a.add-new-h2 {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    padding: 15px 30px;
    display: inline-block;
    line-height: 1;
    text-align: center;
    transition: all 0.5s;
    font-size: 14px;
    text-transform: uppercase;
    color: #444444;
}

.elementor-shortcode h2.wp-erp-shortcode-title a:hover {
    background-color: #444444;
    color: #fff;
}

.elementor-shortcode h2.wp-erp-shortcode-title a:first-child {
    margin-left: auto;
}

table {
    margin-bottom: 0px;
}

/* table nav */
.tablenav .actions select {
    font-size: 14px;
    border-radius: 0px;
    padding: 2px !important;
    background-color: #fff;
    min-height: auto;
    width: auto;
    height: 28px;
}

.tablenav-pages .current-page {
    width: auto;
    min-height: auto;
    padding: 3px 5px;
    line-height: 20px;
}

.tablenav .tablenav-pages a,
.tablenav-pages-navspan {
    box-sizing: content-box;
}

div#wp-erp input[type="submit"],
div[class*="erp"] input[type="submit"],
div[class*="erp"] input[type="button"],
div[class*="erp"] input[type="reset"],
div[class*="erp"] a.button,
div[class*="erp"] button,
.tablenav input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
    border-color: #cccccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #cccccc;
    vertical-align: top;
    text-transform: capitalize;
}

.elementor-shortcode table.wp-list-table thead,
.elementor-shortcode table.wp-list-table tfoot {
    background-color: #184f7e;
}

#erp-crm-calendar table thead,
#erp-crm-calendar table tfoot {
    background-color: inherit;
}

.elementor-shortcode table th {
    text-transform: capitalize;
}

.widefat th.sortable,
.widefat th.sorted {
    padding: 0 !important;
}

th.sortable a,
th.sorted a,
.sorting-indicator:before {
    color: #67e2fd;
}

.widefat thead tr th,
.widefat tfoot tr th {
    color: #fff;
}

.widefat thead td input,
.widefat tfoot td input {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
}

.widefat thead td.check-column,
.widefat tfoot td.check-column {
    padding: 5px 0 0 3px !important;
}

.widefat tbody th.check-column {
    padding: 11px 0 0 3px !important;
}

.widefat td,
.widefat th {
    padding: 8px 10px !important;
}

/* table content */
.vtable-wrap .vtbale-table-wrapper {
    position: relative;
}

.vtable-wrap .vtbale-table-wrapper table.vtable {
    position: relative;
    width: 100%;
    height: 100%;
}

.vtable-wrap .vtbale-table-wrapper table.vtable tbody.vtbale-tbody tr.vtable-ajax-loading {
    height: 50px;
}

.vtable-wrap .vtbale-table-wrapper .vtable-loader-bg {
    width: 100%;
    height: 100%;
    background: #fafafa;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.4;
}

.vtable-wrap .vtbale-table-wrapper .vtable-loader {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../images/spinner-2x.gif') center center no-repeat;
    z-index: 99;
    background-size: 30px;
    top: 38%;
    left: 50%;
}

.erp-crm-customer table.wp-list-table .column-name img,
.erp-crm-subscriber-contact table.wp-list-table .column-name img {
    float: left;
    margin-right: 10px;
    margin-top: 1px;
}

.nprogress-custom-parent #nprogress .spinner {
    display: none;
}

/* circles */
#erp-crm-contact-group-search-search-input {
    width: auto;
    padding: 2px;
    min-height: auto;
}


/* Recently Added in Dashboard */
ul.erp-latest-contact-list {
    padding-bottom: 7px;
    list-style: none;
    margin: 0px;
}

ul.erp-latest-contact-list li {
    position: relative;
    padding: 4px 0px;
    border-bottom: 1px solid #e3e3e3;
}

ul.erp-latest-contact-list li:before,
ul.erp-latest-contact-list li:after {
    content: " ";
    display: table;
}

ul.erp-latest-contact-list li:after {
    clear: both;
}

ul.erp-latest-contact-list li:before,
ul.erp-latest-contact-list li:after {
    content: " ";
    display: table;
}

ul.erp-latest-contact-list li:after {
    clear: both;
}

ul.erp-latest-contact-list li span.contact-created-time {
    position: absolute;
    top: 0%;
    right: 3px;
    cursor: pointer;
}

ul.erp-latest-contact-list li:first-child {
    padding-top: 0px;
}

ul.erp-latest-contact-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

ul.erp-latest-contact-list li .avatar {
    width: 29px;
    float: left;
    margin-right: 10px;
}

ul.erp-latest-contact-list li .details {
    float: left;
}

ul.erp-latest-contact-list li .details p.contact-name {
    margin-top: -3px;
    margin-bottom: -2px;
    padding: 0px;
}

ul.erp-latest-contact-list li .details p.contact-name a {
    text-decoration: none;
}

ul.erp-latest-contact-list li .details p.contact-stage {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
    color: #afafaf;
    font-style: italic;
}

/* All Cotnacts view in Dashboard */
.erp-info-box-item .erp-info-box-item-inner .erp-info-box-content .erp-info-box-content-row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.erp-info-box-item .erp-info-box-item-inner .erp-info-box-content .erp-info-box-content-row .erp-info-box-content-left {
    flex: 1;
    padding: 12px;
    align-self: center;
    text-align: center;
}

.erp-info-box-item .erp-info-box-item-inner .erp-info-box-content .erp-info-box-content-row .erp-info-box-content-right {
    flex: 1;
    padding: 20px 12px;
}

.erp-info-box-item .erp-info-box-item-inner .erp-info-box-content .erp-info-box-content-row .erp-info-box-content-left h3 {
    font-size: 50px;
    margin: 10px 0 10px 0;
    line-height: 1;
}

.erp-info-box-item .erp-info-box-item-inner .erp-info-box-content .erp-info-box-content-row .erp-info-box-content-left p {
    font-size: 16px;
}

.erp-info-box-item .erp-info-box-item-inner .erp-info-box-content .erp-info-box-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.erp-info-box-item .erp-info-box-item-inner .erp-info-box-content .erp-info-box-list li {
    margin-bottom: 5px;
}

.erp-info-box-item .erp-info-box-item-inner .erp-info-box-content .erp-info-box-list li a {
    text-decoration: none;
    color: #124f7e;
}

/* Email Campaign */
#erp-email-campaign-search {
    width: auto;
    padding: 3px 5px;
    line-height: 20px;
    min-height: auto;
}

.campaign-list-table .column-icon .email-type-icon {
    width: auto;
    max-width: 70px;
}

#erp-email-campaign-edit .ecamp-page-title {
    line-height: 46px;
}

#erp-email-campaign-edit .ecamp-page-title button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #7a7a7a;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #444;
    background-color: #eee;
    border-radius: 0 0 0 0;
    font-weight: 500;
    padding: 15px 30px;
    text-align: center;
    transition: all .5s;
    height: auto;
    line-height: 1;
    width: 230px;
}

#erp-email-campaign-edit .ecamp-page-title button i.fa {
    float: left;
}

#erp-email-campaign-edit .ecamp-page-title button:hover {
    background-color: #444;
    color: #fff;
}

#erp-email-campaign-edit .erp-grid-container+p button,
#erp-email-campaign-edit #customizer-controls button {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

#erp-email-campaign-edit form input:not([type="checkbox"]) {
    padding: 3px 5px;
    min-height: auto;
    line-height: 19px;
    background-color: #fff;
}

#erp-email-campaign-edit .erp-email-campaign-shortcode-btn .button.button-link {
    padding: 0px;
    margin-top: 1px;
}

#erp-email-campaign-edit .validation-error,
#erp-email-campaign-edit .floating-info .floating-info-text.always-on-top {
    top: -19px;
    background-color: #f4f4f4;
}

#erp-email-campaign-edit .erp-grid-container [class*="col-"] {
    padding-top: 0;
    padding-bottom: 0;
}

#erp-email-campaign-edit #editor-step-1 table tbody tr:nth-child(4) {
    display: none;
}

#erp-email-campaign-edit #template-chooser {
    display: none
}

#erp-email-campaign-edit table {
    margin-bottom: 0
}

#erp-email-campaign-edit table th,
#erp-email-campaign-edit table td {
    border-bottom: none;
}

#erp-email-campaign-edit #email-template td {
    padding: 0px;
}

#erp-email-campaign-edit #email-template td[align="center"] {
    text-align: center;
}

#erp-email-campaign-edit #email-template td[align="left"] {
    text-align: left;
}

#erp-email-campaign-edit #email-template td[align="right"] {
    text-align: right;
}

#erp-email-campaign-edit .erp-grid-container .row {
    display: flex;
}

/* Single Contact View */
.postbox {
    position: relative;
    min-width: 255px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background: #fff;
}

.erp-email-campaign-single .legend table {
    width: auto;
}

.erp-email-campaign-single .legend table td {
    border-bottom: none;
    padding: 1px 1px 6px;
}

/* avatar in nav */
.current-user-avatar {
    text-align: center;
}

.current-user-avatar img {
    border-radius: 50%;
}