.erp-single-customer {
    /**
     * Erp Single customer
     * feeds styles
     */
}

.erp-single-customer .erp-single-customer-content .row {
    margin-left: -12px;
    margin-right: -12px;
}

.erp-single-customer .erp-single-customer-content .postbox .erp-handlediv {
    float: right;
    width: 36px;
    height: 36px;
    padding: 0;
}

.erp-single-customer .erp-single-customer-content .postbox .erp-handlediv:before {
    content: '\f142';
    right: 12px;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 8px 10px;
    top: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

.erp-single-customer .erp-single-customer-content .postbox .erp-hndle {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.erp-single-customer .erp-single-customer-content .postbox.closed .erp-hndle {
    border-bottom: none;
}

.erp-single-customer .erp-single-customer-content .customer-image-wraper {
    background: #FFF;
    margin-bottom: 20px;
}

.erp-single-customer .erp-single-customer-content .customer-image-wraper .avatar img {
    margin-left: 12px;
}

.erp-single-customer .erp-single-customer-content .customer-image-wraper .details {
    padding-left: 20px;
}

.erp-single-customer .erp-single-customer-content .customer-image-wraper .details h3 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.erp-single-customer .erp-single-customer-content .customer-image-wraper .details p {
    margin: 7px 0px;
}

.erp-single-customer .erp-single-customer-content .customer-image-wraper .details ul.social-profile {
    margin-bottom: 0px;
}

.erp-single-customer .erp-single-customer-content .customer-image-wraper .details ul.social-profile li {
    margin-right: 5px;
}

.erp-single-customer .erp-single-customer-content .customer-image-wraper .details ul.social-profile li a {
    color: #505050;
    font-size: 21px;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact {
    margin-top: 0px;
    padding: 5px 0px 5px;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap {
    position: relative;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap h4:after {
    content: ' ';
    position: relative;
    top: -9px;
    left: 34%;
    display: block;
    width: 65%;
    border: 1px solid #eee;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap .user-wrap {
    position: relative;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap .user-wrap img {
    float: left;
    margin-right: 10px;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap span#erp-crm-edit-assign-contact-to-agent {
    position: absolute;
    top: 50%;
    right: 2%;
    cursor: pointer;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap .assign-form .crm-aget-search-select-wrap {
    margin-bottom: 15px;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap .assign-form .assign-form-loader {
    margin: 4px 0px 0px 6px;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap .user-details {
    float: left;
    margin-top: -2px;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap .user-details a {
    text-decoration: none;
    display: block;
}

.erp-single-customer .erp-single-customer-content .customer-basic-info .erp-crm-assign-contact .inner-wrap .user-details span {
    font-style: italic;
}

.erp-single-customer .erp-single-customer-content .customer-company-info .company-profile-content .postbox {
    margin-bottom: 15px;
}

.erp-single-customer .erp-single-customer-content .customer-company-info .company-profile-content .postbox .action {
    position: absolute;
    top: 12px;
    right: 40px;
}

.erp-single-customer .erp-single-customer-content .customer-company-info .company-profile-content .postbox .action .fa {
    font-size: 13px;
    color: #222;
    margin-left: 3px;
}

.erp-single-customer .erp-single-customer-content .customer-company-info .company-profile-content .postbox .erp-hndle .customer-avatar img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.erp-single-customer .erp-single-customer-content .customer-company-info .company-profile-content .postbox .erp-hndle .customer-name {
    position: relative;
    top: -5px;
    left: 5px;
}

.erp-single-customer .erp-single-customer-content .customer-company-info .company-profile-content .postbox .erp-hndle .customer-name a {
    text-decoration: none;
    color: #222;
}

.erp-single-customer .erp-single-customer-content .customer-company-info .company-profile-content .postbox .erp-hndle .customer-name a:hover {
    text-decoration: underline;
}

.erp-single-customer .erp-single-customer-content .customer-mail-subscriber-info .contact-group-content p {
    border: 1px solid #e5e5e5;
    padding: 8px 11px;
    position: relative;
}

.erp-single-customer .erp-single-customer-content .customer-mail-subscriber-info .contact-group-content p span {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #222;
}

.erp-single-customer .erp-single-customer-content .customer-mail-subscriber-info .contact-group-content a#erp-contact-update-assign-group {
    text-decoration: none;
}

.erp-single-customer .erp-single-customer-content .customer-mail-subscriber-info .contact-group-content a#erp-contact-update-assign-group i.fa {
    font-size: 11px;
}

.erp-single-customer .erp-customer-feeds .activity-filter {
    display: flex;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.erp-single-customer .erp-customer-feeds .activity-filter .filters {
    padding: 15px 25px;
    border-right: 1px solid #e3e3e3;
}

.erp-single-customer .erp-customer-feeds .activity-filter .filters:last-child {
    border-right: none;
}

.erp-single-customer .erp-customer-feeds .submit-action {
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.erp-single-customer .erp-customer-feeds .crm-blocked:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #32373cc7;
    z-index: 1;
}

.erp-single-customer .erp-customer-feeds #email {
    position: relative;
}

.erp-single-customer .erp-customer-feeds #email p label {
    margin-left: 8px;
}

.erp-single-customer .erp-customer-feeds #email p,
.erp-single-customer .erp-customer-feeds #schedule p {
    margin: 0px;
    border-bottom: 1px solid #eee;
    padding: 8px 0px;
}

.erp-single-customer .erp-customer-feeds #email p span.select2-selection--single,
.erp-single-customer .erp-customer-feeds #schedule p span.select2-selection--single {
    border: none;
    height: 32px;
}

.erp-single-customer .erp-customer-feeds #email p span.select2-selection--single input,
.erp-single-customer .erp-customer-feeds #schedule p span.select2-selection--single input {
    width: 100% !important;
}

.erp-single-customer .erp-customer-feeds #email p span.select2-selection--single:focus,
.erp-single-customer .erp-customer-feeds #schedule p span.select2-selection--single:focus {
    outline: none;
}

.erp-single-customer .erp-customer-feeds #email p label,
.erp-single-customer .erp-customer-feeds #schedule p label {
    min-width: 12%;
    display: inline-block;
    vertical-align: middle;
}

.erp-single-customer .erp-customer-feeds #email p span.sep,
.erp-single-customer .erp-customer-feeds #schedule p span.sep {
    width: 15px;
    display: inline-block;
}

.erp-single-customer .erp-customer-feeds #email p input[type='text'],
.erp-single-customer .erp-customer-feeds #schedule p input[type='text'] {
    border: none;
    box-shadow: none;
    transition: none;
    width: 80%;
}

.erp-single-customer .erp-customer-feeds #email p input[type='text']:focus,
.erp-single-customer .erp-customer-feeds #schedule p input[type='text']:focus {
    outline: none;
}

.erp-single-customer .erp-customer-feeds #email p input[type='text']::-webkit-input-placeholder,
.erp-single-customer .erp-customer-feeds #schedule p input[type='text']::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #email p input[type='text']:-moz-placeholder,
.erp-single-customer .erp-customer-feeds #schedule p input[type='text']:-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #email p input[type='text']::-moz-placeholder,
.erp-single-customer .erp-customer-feeds #schedule p input[type='text']::-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #email p input[type='text']:-ms-input-placeholder,
.erp-single-customer .erp-customer-feeds #schedule p input[type='text']:-ms-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #log-activity p,
.erp-single-customer .erp-customer-feeds #tasks p {
    margin: 0px;
    border-bottom: 1px solid #eee;
    padding: 8px 0px;
}

.erp-single-customer .erp-customer-feeds #log-activity p:first-child,
.erp-single-customer .erp-customer-feeds #tasks p:first-child {
    padding-bottom: 16px;
}

.erp-single-customer .erp-customer-feeds #log-activity p span.select2-selection--multiple,
.erp-single-customer .erp-customer-feeds #tasks p span.select2-selection--multiple {
    border: none;
    height: 32px;
}

.erp-single-customer .erp-customer-feeds #log-activity p span.select2-selection--multiple .select2-search__field,
.erp-single-customer .erp-customer-feeds #tasks p span.select2-selection--multiple .select2-search__field {
    width: auto !important;
}

.erp-single-customer .erp-customer-feeds #log-activity p label,
.erp-single-customer .erp-customer-feeds #tasks p label {
    min-width: 12%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.erp-single-customer .erp-customer-feeds #log-activity p span.sep,
.erp-single-customer .erp-customer-feeds #tasks p span.sep {
    width: 15px;
    display: inline-block;
}

.erp-single-customer .erp-customer-feeds #log-activity p input.email_subject,
.erp-single-customer .erp-customer-feeds #tasks p input.email_subject {
    border: none;
    box-shadow: none;
    transition: none;
    width: 80%;
}

.erp-single-customer .erp-customer-feeds #log-activity p input.email_subject:focus,
.erp-single-customer .erp-customer-feeds #tasks p input.email_subject:focus {
    outline: none;
}

.erp-single-customer .erp-customer-feeds #log-activity p input.email_subject::-webkit-input-placeholder,
.erp-single-customer .erp-customer-feeds #tasks p input.email_subject::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #log-activity p input.email_subject:-moz-placeholder,
.erp-single-customer .erp-customer-feeds #tasks p input.email_subject:-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #log-activity p input.email_subject::-moz-placeholder,
.erp-single-customer .erp-customer-feeds #tasks p input.email_subject::-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #log-activity p input.email_subject:-ms-input-placeholder,
.erp-single-customer .erp-customer-feeds #tasks p input.email_subject:-ms-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #schedule .submit-action {
    border-top: none;
}

.erp-single-customer .erp-customer-feeds #schedule p {
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #schedule p span.select2-selection--multiple {
    border: none;
    height: 32px;
}

.erp-single-customer .erp-customer-feeds #schedule p span.select2-selection--multiple input {
    width: 100% !important;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-datetime {
    border-bottom: 1px solid #eee;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-datetime p {
    border-bottom: none;
    width: 40%;
    padding-left: 5px;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-datetime p.schedule-end {
    border-left: 1px solid #eee;
    padding-left: 20px;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-datetime p.schedule-all-day {
    width: 16%;
    padding: 12px 20px;
    border-left: 1px solid #eee;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-datetime input.start-time,
.erp-single-customer .erp-customer-feeds #schedule .schedule-datetime input.start-date {
    width: 33%;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-notification {
    border-bottom: 1px solid #eee;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-notification p {
    border: none;
    width: 40%;
    padding-left: 5px;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-notification p label {
    width: 27%;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-notification p.schedule-notification-via {
    width: 50%;
    border-right: 1px solid #eee;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-notification p.schedule-notification-before {
    padding-left: 20px;
    width: 50%;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-notification p.schedule-notification-before select {
    margin-top: -2px;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-notification p.schedule-type {
    width: 50%;
    border-right: 1px solid #eee;
    padding-left: 5px;
}

.erp-single-customer .erp-customer-feeds #schedule .schedule-notification p.schedule-notification-allow {
    width: 50%;
    padding: 13px 20px;
}

.erp-single-customer .erp-customer-feeds #tasks .assign-task-datetime {
    border-bottom: 1px solid #e3e3e3;
}

.erp-single-customer .erp-customer-feeds #tasks p {
    padding-bottom: 10px !important;
}

.erp-single-customer .erp-customer-feeds #tasks p.assign-task-time {
    border-bottom: none;
    width: 45%;
    margin-left: 10px;
}

.erp-single-customer .erp-customer-feeds #tasks p.assign-task-date {
    width: 45%;
    border-bottom: none;
    border-right: 1px solid #e3e3e3;
    margin-left: 5px;
}

.erp-single-customer .erp-customer-feeds #tasks p input[type=text] {
    border: none;
    box-shadow: none;
    transition: none;
    width: 45%;
}

.erp-single-customer .erp-customer-feeds #tasks p input[type=text]:focus {
    outline: none;
}

.erp-single-customer .erp-customer-feeds #tasks p input[type=text]::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #tasks p input[type=text]:-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #tasks p input[type=text]::-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds #tasks p input[type=text]:-ms-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-single-customer .erp-customer-feeds .activity-form {
    background: #fff;
}

.erp-single-customer .erp-customer-feeds .activity-form ul.nav-item {
    background: #32373C;
    border: 1px solid #3a4042;
    box-shadow: 1px -1px 4px 0 rgba(0, 0, 0, 0.15), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15);
    margin: 0;
    padding: 0;
    width: 100%;
}

.erp-single-customer .erp-customer-feeds .activity-form ul.nav-item li {
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0px;
}

.erp-single-customer .erp-customer-feeds .activity-form ul.nav-item li.active {
    background: #191E23;
    position: relative;
    color: white;
    text-shadow: 0 1px 2px #212425;
    border-color: black;
}

.erp-single-customer .erp-customer-feeds .activity-form ul.nav-item li .fa {
    font-size: 11px;
    margin-right: 3px;
}

.erp-single-customer .erp-customer-feeds .activity-form ul.nav-item li a {
    display: inline-block;
    color: #fafafa;
    font-weight: 700;
    opacity: 1;
    height: 100%;
    margin: 0;
    text-decoration: none;
    text-align: center;
    padding: 12px;
}

.erp-single-customer .erp-customer-feeds .activity-form .nav-content {
    padding: 10px;
}

.erp-single-customer .erp-customer-feeds .activity-content {
    margin: 30px 0px;
    /*
             * Component: Timeline
             * -------------------
             */
}

.erp-single-customer .erp-customer-feeds .activity-content .feed-load-more {
    position: relative;
    padding: 20px 0px;
    border-top: 2px solid #fafafa;
}

.erp-single-customer .erp-customer-feeds .activity-content .feed-load-more button {
    border: none;
    box-shadow: none;
    position: absolute;
    top: -1px;
    right: 10px;
    padding: 0px 30px;
    height: 40px;
    color: #969696;
    border-radius: 0px;
}

.erp-single-customer .erp-customer-feeds .activity-content .no-activity-found {
    width: 100%;
    font-weight: bold;
    padding: 20px 12px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    border-left: 3px solid #DEDEDE;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #DEDEDE;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li:before,
.erp-single-customer .erp-customer-feeds .activity-content .timeline>li:after {
    content: " ";
    display: table;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li:after {
    content: " ";
    clear: both;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li.time-label:before {
    width: 80%;
    position: relative;
    top: 15px;
    z-index: 1;
    left: 19%;
    clear: both;
    border: 1px dotted #ddd;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    padding: 0;
    position: relative;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item .cancel-timeline-feed-edit {
    cursor: pointer;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item.timeline-oneliner {
    background: none;
    box-shadow: none;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item.timeline-oneliner .timeline-body {
    padding: 0;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item.timeline-oneliner .timeline-body .timeline-feed-header-text {
    line-height: 1.5;
    display: block;
    border-bottom: 1px solid #eee;
    padding: 4px 0;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item.timeline-oneliner .timeline-body .timeline-feed-header-text a {
    text-decoration: none;
    font-weight: bold;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.time {
    color: #999;
    float: right;
    padding: 8px 10px;
    font-size: 12px;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #8E8E8E;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.1;
    cursor: pointer;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-header>span.timeline-feed-header-text {
    display: block;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-header>span.timeline-feed-header-text strong {
    color: #000000;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-header>.timeline-feed-avatar {
    display: block;
    float: left;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-header>.timeline-feed-avatar img {
    width: 17px;
    height: 17px;
    margin-right: 6px;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-header>a {
    font-weight: 600;
    text-decoration: none;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body,
.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-footer {
    padding: 10px;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-footer {
    box-shadow: -1px 1px 4px 0 #e6e6e6;
    transition: all 0.2s ease;
    background: #fafafa;
    border: 1px solid #e9eced;
    z-index: 1;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body {
    color: #565656;
    line-height: 24px;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body #schedule span.sep {
    width: 8px;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body #schedule .schedule-datetime input.start-time,
.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body #schedule .schedule-datetime input.start-date {
    margin-left: -2px;
    width: 37%;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body #schedule .schedule-datetime p.schedule-end {
    padding-left: 10px !important;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body #schedule p.schedule-all-day {
    padding: 12px 13px;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body #schedule .schedule-notification p label {
    width: 33%;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body ul {
    list-style-type: disc;
    margin-left: 2em;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body ul.select2-selection__rendered {
    list-style-type: none;
    margin-left: 0;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body .timeline-email-subject {
    padding: 0px 0px 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    font-style: italic;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-body .timeline-email-attachments {
    padding: 0px 0px 10px;
    border-top: 1px solid #eee;
    margin: 20px 0px;
    font-style: italic;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.timeline-item>.timeline-footer a {
    text-decoration: none;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.fa,
.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.glyphicon,
.erp-single-customer .erp-customer-feeds .activity-content .timeline>li>.ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #a2a2a2;
    background: #dfdfdf;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
    cursor: pointer;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline>.time-label>span {
    font-weight: bold;
    padding: 6px 8px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    border-left: 3px solid #DEDEDE;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline-inverse>li>.timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.erp-single-customer .erp-customer-feeds .activity-content .timeline-inverse>li>.timeline-item>.timeline-header {
    border-bottom-color: #ddd;
}

#ui-datepicker-div select {
    padding: 2px;
}

.nprogress-custom-parent #nprogress .spinner {
    display: none;
}