ul.erp-latest-contact-list {
  padding-bottom: 7px;
  list-style: none;
}
ul.erp-latest-contact-list li {
  position: relative;
  padding: 4px 0px;
  border-bottom: 1px solid #e3e3e3;
}
ul.erp-latest-contact-list li:before,
ul.erp-latest-contact-list li:after {
  content: " ";
  display: table;
}
ul.erp-latest-contact-list li:after {
  clear: both;
}
ul.erp-latest-contact-list li:before,
ul.erp-latest-contact-list li:after {
  content: " ";
  display: table;
}
ul.erp-latest-contact-list li:after {
  clear: both;
}
ul.erp-latest-contact-list li span.contact-created-time {
  position: absolute;
  top: 0%;
  right: 3px;
  cursor: pointer;
}
ul.erp-latest-contact-list li:first-child {
  padding-top: 0px;
}
ul.erp-latest-contact-list li:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
ul.erp-latest-contact-list li .avatar {
  width: 29px;
  float: left;
  margin-right: 10px;
}
ul.erp-latest-contact-list li .details {
  float: left;
}
ul.erp-latest-contact-list li .details p.contact-name {
  margin-top: -3px;
  margin-bottom: -2px;
  padding: 0px;
}
ul.erp-latest-contact-list li .details p.contact-name a {
  text-decoration: none;
}
ul.erp-latest-contact-list li .details p.contact-stage {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 3px;
  color: #afafaf;
  font-style: italic;
}