@import url('./erp-modal.css');

.fc-time {
    display: none;
}

.fc-title {
    cursor: pointer;
}

.fc-day-grid-event .fc-content {
    white-space: normal;
}

.fc-head table {
    margin-bottom: auto;
}

.erp-left {
    float: left;
}

.erp-right {
    float: right;
}

.erp-hide {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.erp-crm-new-schedule-wrapper p {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px !important;
    margin: 1em 0px 0px;
    font-size: 14.3px;
}

.erp-crm-new-schedule-wrapper p #erp-crm-feed-log-type,
.erp-crm-new-schedule-wrapper p #schedule_type {
    width: auto;
    min-height: auto;
    padding: 2px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
}

.erp-crm-new-schedule-wrapper p input {
    margin-left: 15px;
    width: auto;
    padding: 3px 5px;
    min-height: auto;
    line-height: normal;
}

.erp-crm-new-schedule-wrapper p input::placeholder {
    color: #72777c;
    opacity: 1;
}

.erp-crm-new-schedule-wrapper p input[disabled=disabled] {
    color: #222;
    background: rgba(255,255,255,.5);
    border-color: rgba(222,222,222,.75);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
    cursor: default;
}

.erp-crm-new-schedule-wrapper span.select2-selection--multiple,
.erp-crm-new-schedule-wrapper span.select2-selection--single {
    border: none;
    height: 32px;
}

.erp-crm-new-schedule-wrapper span.select2-selection--multiple input,
.erp-crm-new-schedule-wrapper span.select2-selection--single input {
    width: 100% !important;
}

.erp-crm-new-schedule-wrapper .select2-container--default.select2-container--focus .select2-selection--multiple,
.erp-crm-new-schedule-wrapper .select2-container--default.select2-container--focus .select2-selection--single {
    border: none;
}

.erp-crm-new-schedule-wrapper .feed-log-activity input[type='text'][name='email_subject'] {
    border: none;
    box-shadow: none;
    transition: none;
    width: 80%;
}

.erp-crm-new-schedule-wrapper .feed-log-activity input[type='text'][name='email_subject']:focus {
    outline: none;
}

.erp-crm-new-schedule-wrapper .feed-log-activity input[type='text'][name='email_subject']::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-crm-new-schedule-wrapper .feed-log-activity input[type='text'][name='email_subject']:-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-crm-new-schedule-wrapper .feed-log-activity input[type='text'][name='email_subject']::-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-crm-new-schedule-wrapper .feed-log-activity input[type='text'][name='email_subject']:-ms-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-title-assign-user {
    border-bottom: 1px solid #eee;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-title-assign-user p {
    border-bottom: none;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-title-assign-user p.schedule-title {
    width: 63%;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-title-assign-user p.schedule-assign-user {
    width: 36%;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper p {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper p input {
    margin-left: 15px;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper input[type='text'] {
    border: none;
    box-shadow: none;
    transition: none;
    width: 80%;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper input[type='text']:focus {
    outline: none;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper input[type='text']::-webkit-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper input[type='text']:-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper input[type='text']::-moz-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper input[type='text']:-ms-input-placeholder {
    font-style: italic;
    font-weight: normal;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-datetime {
    border-bottom: 1px solid #eee;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-datetime p {
    border-bottom: none;
    width: 37%;
    padding-left: 5px;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-datetime p.schedule-end {
    _border-left: 1px solid #eee;
    padding-left: 20px;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-datetime p.schedule-all-day {
    width: 20%;
    padding: 3px 20px;
    _border-left: 1px solid #eee;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-datetime input.start-time,
.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-datetime input.start-date {
    width: 33%;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification {
    border-bottom: 1px solid #eee;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification:last-child {
    border-bottom: none;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification p {
    border: none;
    width: 40%;
    padding-left: 5px;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification p label {
    width: 27%;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification p.schedule-notification-via {
    width: 50%;
    _border-right: 1px solid #eee;
    padding-top: 15px;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification p.schedule-notification-before {
    padding-left: 20px;
    padding-top: 15px;
    width: 50%;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification p.schedule-notification-before select {
    margin-top: -2px;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification p.schedule-type {
    width: 50%;
    _border-right: 1px solid #eee;
    padding-left: 5px;
}

.erp-crm-new-schedule-wrapper .feed-schedule-wrapper .schedule-notification p.schedule-notification-allow {
    width: 50%;
    padding: 6px 20px;
}

.erp-crm-schedule-wrapper {
    margin-top: 20px;
}