ul.erp-crm-dashbaord-todays-schedules {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
ul.erp-crm-dashbaord-todays-schedules li {
  line-height: 22px;
}
ul.erp-crm-dashbaord-todays-schedules li a {
  text-decoration: none;
}
ul.erp-crm-dashbaord-todays-schedules li a:hover {
  text-decoration: underline;
}
ul.erp-crm-dashbaord-todays-schedules li span {
  display: inline-block;
  color: #0073aa;
  cursor: pointer;
  float: none !important;
}
ul.erp-crm-dashbaord-todays-schedules p {
  padding: 0px;
  margin: 0px;
}